<div class="row">
    <div class="col-md-4">
        <%= render "campaign/popular" %>
    </div>
    <div class="col-md-4">
        <%= render "campaign/recent" %>
    </div>
    <div class="col-md-4">
        <%= render "user_campaign/recent" %>
    </div>
</div>