<% if locals[:campaigns].blank? %>
    <div class="jumbotron">
        <p>Katıldığınız aktif kumpanya bulunamamıştır.</p>            
    </div>
<% else %>   
<br />
    <table class="table">                        
        <% locals[:campaigns].each do |campaign| %>
            <tr>
                <td><%= campaign.name %></td>
                <td><%= campaign.due_date.localtime.strftime '%Y-%m-%d %H:%M:%S' %></td>
                <td><%= campaign.user_campaigns_count %></td>
            </tr>
        <% end %>        
    </table>      
 <% end %>