 <div class="container">
    <div class="row">
        <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bu kumpanyadaki ürünler</h3>
        </div>
        <div class="panel-body">
            <%= render "products/form"%>
        </div>
       
    </div>
 </div>